# Configuración de Base de Datos
DB_HOST=blibqzdtxel2dxhsjgta-mysql.services.clever-cloud.com
DB_PORT=3306
DB_USER=uldwf4hz1dhwv8tb
DB_PASSWORD=FcX9THrQqmRyL9xrsBEU
DB_NAME=blibqzdtxel2dxhsjgta

# Configuración del Servidor
PORT=3000

# Configuración de Seguridad
JWT_SECRET=crudclinic_secret_key_2024 